.authInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.authButtonContainer {
    display: flex;
}

.confirmButton {
    flex: 1;
    padding: 5px;
}

.resendButtonContainer {
    margin-top: 5px;
    display: flex;
}

