.goalInputContainer {
    display: flex;
    flex-direction: row;
    border: 2px solid #bbb;
    /* border-top: none; */
    border-radius: 10px;
    padding: 10px;
}

.goalCheckContainer {
    width: 130px;
    display: flex;
    gap: 8px;
}


.goalContainer {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 450px)  {
    .goalInputContainer {
        flex-direction: column;
        gap: 10px;
    }   

    .formContainer {
        padding: 20px;
        flex: 1;
    }
    
    .hidden {
        display: none;
    }
}