.authForm {
    /* width: 400px; */
}


.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.confirmButton {
    flex: 1;
    padding: 5px;
}

.forgotPassword {
    margin-top: 5px;
    padding: 0;
    text-align: end;
}

.message {
    text-align: center;
}

.submitting {
    pointer-events: none;
    opacity: 0.5;
}