.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.errorMessage {
    font-size: 14px;
    color: crimson
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.authFormButton {
    padding: 5px;
}

.submitting {
    pointer-events: none;
    opacity: 0.5;
}

.forgotPasswordLink {
    margin-top: 5px;
    padding: 0 4px;
    display: flex;
    align-self: flex-end;
}

.message {
    text-align: center;
}



