.loginForm {
    width: 300px;
    padding: 5px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

/* .inputContainer .label {
    width: 80px;
} */

.buttonContainer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.loginButton {
    padding: 5px;
    flex: 1;
}

.forgotPassword {
    margin-top: 5px;
    padding: 0;
    text-align: end;
}