.goalInputContainer {
    display: flex;
    flex-direction: row;
    border: 2px solid #bbb;
    /* border-top: none; */
    border-radius: 10px;
    padding: 10px;
}

.goalCheckContainer {
    width: 130px;
    display: flex;
    gap: 8px;
}


.goalContainer {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.separator {
    border-top: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.deleteButton {
    background-color: #ff5e5e;
}

.archiveButton {
    margin-top: 10px;
    /* background-color: #ffef5e;
    border: 1px solid #888;
    border-radius: 3px; */
}

.editArchivedHeader {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 450px)  {
    .goalInputContainer {
        flex-direction: column;
        gap: 10px;
    }   

    .formContainer {
        padding: 20px;
        flex: 1;
    }
    
    .hidden {
        display: none;
    }
}