.card {
    box-shadow: 1px 2px 5px 0px #888;
    border-radius: 5px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    transition: transform 0.3s;
    will-change: transform;

}

.card:hover {
    transform: scale( 1.01);
    cursor: pointer;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-weight: 600;
}

.startedAtContainer {
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.timesContainer {
    display: flex;
    gap: 5px

}

.elapsedTime {
    font-weight: 600;
}

@media only screen and (max-width: 450px)  { 
    .card {
        padding: 8px 12px;
    }

    .right {
        gap: 15px;
    }    
}


@media only screen and (max-width: 350px)  { 
    .card {
        padding: 8px;
    }

    .right {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 5px;
        
    }

    .datePicker {
        width: 140px;
    }
}