.statisticCard {
    box-shadow: 1px 2px 5px 0 #aaa;
    padding: 12px 16px ;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
}

.nameContainer {
    font-weight: 600;
}

.right {
    display: flex;
    gap: 15px;
}

.elapsedTimeContainer {
    font-weight: 600;
}

.verticalLine {
    width: 2px;
    border-radius: 3px;
    background-color: #3332;
}

.percentageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    font-weight: 600;
}