.activitesContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.separator:first-of-type {
    margin-top: 16px;
}

.separator {
    margin-top: 50px;
    margin-bottom: 10px;
}

.activeRecords {
    display: flex;
    flex-direction: column;
    gap: 10px;
}