.card {
    box-shadow: 1px 2px 5px 0px #888;
    border-radius: 5px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.recordDetails {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
    /* font-size: 18px; */
}

.startedAtContainer {
    font-size: 15px;
    display: flex;
    gap: 6px;
}

.right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.timesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.elapsedTime {
    font-weight: 600;
}

.sessionGoalContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 15px;
}

.sessionRemaining {
    display: flex;
    align-items: center;
    gap: 5px;
}

.editIcon {
    /* font-size: 20px; */
    padding: 10px;
    background-color: #3333;
    border-radius: 8px;
}

.editIcon:hover {
    background-color: #3336;
}

.loading {
    pointer-events: none;
    filter: blur(2px) grayscale(50%);
    opacity: 0.5;
}


@media only screen and (max-width: 450px)  { 
    .card {
        padding: 8px 12px;
    }

    .right {
        gap: 15px;
    }

    .startedAtContainer {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .startedAtContainer .separator {
        display: none;
    }
}


@media only screen and (max-width: 350px)  { 
    .card {
        padding: 8px;
    }

    .left {
        gap: 6px;
    }

    .right {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 5px;
        
    }
}