.container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.inputContainer {
    display: flex;
    gap: 3px;
}

.numberInput {
    width: 40px;
    border: none;
    border-bottom: 1px solid black;
    text-align: end;
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
    margin-left: 2px;
    opacity: 1;
}

.numberInputHours {
    width: 60px;
}