.header {
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #eee;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 50px; */
    border-bottom: 2px solid #999;
}

.header .logo {
    width: 180px;
    font-size: 32px;
}

.navigation {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

 .navIcon {
    display: none;
    font-size: 20px;
} 

.signOutContainer {
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.verticalSeparatorContainer {
    display: none;
}

.signOutButton {
    background: none;
    border: none;
}

.navLink,
.signOutButton {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navLink:hover:not(.active),
.signOutButton:hover {
    background-color: #777;
    color: #f6f6f6;
}

.active {
    background-color: #555;
    color: #f6f6f6;
}


@media only screen and (max-width: 950px)  {
    
    .header {
        gap: 40px;
        justify-content: space-between;
    }
    
    .logo {
        display: none;
    }

    .navigation {
        flex: 4;
        gap: 10px;
        justify-content: space-between;
    }

    .signOutContainer {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 550px) {
    .header {
        padding: 15px;
        gap: 0px;
    }

    .navigation {
        flex: 4;
        justify-content: space-between;
    }

    .navText {
        display: none;
    }

    .navIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        
    }

    .signOutContainer {
        justify-content: space-between;
    }

    .verticalSeparatorContainer {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    
    .verticalSeparator {
        background-color: #777;
        width: 2px;
    }
}