.pageWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 5px;
}

.statisticCardsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cell {
    filter: drop-shadow(0px 0px 2px #d8d8d8);
}



.filterContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}

.dateContainer {
    z-index: 10;
    position: sticky;
    top: 115px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px #666;
    align-self: center;
    border-radius: 10px;
}

.arrow {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
}

.arrow:hover {
    background-color: #aaa;
    cursor: pointer;
}

.selectInput {
    margin: 0 10px 0 5px;
}

@media only screen and (max-width: 950px)  { 
    .dateContainer {
        top: 107px;
    }
}

@media only screen and (max-width: 550px)  { 
    .dateContainer {
        top: 87px;
        padding: 10px;
    }

}