.activitiesContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.separator:first-of-type {
    margin-top: 16px;
}

.separator {
    margin-top: 30px;
    margin-bottom: 10px;
}

.activeRecords {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #666;
    font-weight: 600;
    font-size: 0.8em;
    cursor: default;
}